{% extends 'base.html.twig' %}


        {% block carousel %}

        <section class="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h1 class="animated fadeInUp">Codex International <br>  &#38; Best materials, <br> Excellence services</h1>
                            <p class="animated fadeInUp">xxxxxxxxx </br>  xxxxxx</p>
                        <!--    <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank" class="btn btn-main animated fadeInUp" >Free Bootstrap Templates</a>  -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}