p {
    color: #72655c;
}
h1, h2, h3, h4, h5, h6 {
    color: #3f3934;
}
a {
    color: #bd7718
}        
a:focus, a:hover {
    color: #72655c;
}


/***************** header navigation **************/

.navigation {
    margin-bottom: 30px;
}
.main-nav {
    padding-right: -20px;
}
.bs-example-navbar-collapse-1 {
    margin-right: -20px; 
}
.logo{
    width: 200px;  
} 
.navigation .navbar .navbar-nav > li > a:hover, .navigation .navbar .navbar-nav > li > a:focus {
    color: #bd7718;
    font-size: 24px;
    font-weight: lighter;
}
.btn-locale {
    padding-right: 25px;
    padding-top: 10px;
}
.btn-locale .btn .btn-gb{
    width: 25px;
    display: inline-block;
    text-align: right;
}
.btn-locale .btn-fr{
    width: 25px;  
}
.btn-locale .btn {
    padding: 0;
    float: right;
    margin-left: 7px;
}

.navigation .navbar .navbar-nav > li > a {
    text-align: right;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

/***************** bloc parallaxe **************/


/***************** search **************/

.input-search {
    margin-top: 10px;
    margin-right: -5px;
    width: 180px;
    float: right;  
}
.btn-search {
    background: #fff;
    border-radius: 0;
}
.input-group-addon{
    padding: 0;
    background: transparent;
    border: none;
}
.btn-loupe{
    background: transparent;
}
.search-0 {
    text-align: right;
    color: #bd7718;
}
.pdt-search a:hover {
    font-size: 28px;
    font-weight: bold;
}

/***************** nav 2 **************/

.fa-arrow-alt-circle-down {
    font-size: 35px;
    padding-bottom: 10px;
    color: #72655c;
}
.nav {
    padding-left: 5px;
}
.nav2 {
    margin: 50px 0 80px 0;
    text-align: center;
}
.why-us {
    text-align: justify;
}
.nav2 h2 {
    line-height: 0;
    margin-bottom: 40px;
    color: #72655c;
    font-size: 30px;
}
.nav-pills>li {
    display: inline-block;
    float: none;
    margin-bottom: 10px;
}
.nav-pills > li > a {
    border-radius: 0px;
    border: 1px solid #72655c; 
    text-transform: uppercase;
}
.nav-categories a {
    background: #F5F5F5;
    color: #bd7718;
}
.nav-categories .nav>li>a:focus, .nav>li>a:hover {
    color: #bd7718;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.dropdown-menu>li>a {
    color: #bd7718;
    text-transform: uppercase;
}
.dropdown-menu>li>a:hover {
    color: #bd7718;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    line-height: 200%;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border: none;
}

/***************** HOME / Why us **************/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.container .why-us {
    padding-left: 10px;
    padding-right: 10px;
}
.body-home-intro {
    font-size: 22px;
    padding-bottom: 20px;
    color: #bd7718;
}
.why-us h3 {
    color: #3f3934;
    font-weight: bold;
}
.why-us a {
    color: #bd7718
}
.why-us a:focus, a:hover {
    color: #72655c;
    font-size: 18px;
}
/***************** downloads **************/

.telechargt {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: justify;
}
.telechargt a {
    font-weight: bold;
}
.telechargt a:focus, a:hover {
    color: #72655c;
    font-size: 18px;
    font-weight: bold;
}

/***************** pg produits **************/

.aside {
    margin-top: 65px;
}
.btn-primary {
    float: right;
    background-color: #72655c;
    width: 230px;
    height: 30px;
    border-radius: 0;
    border: none;
    margin-top: 14px;
    margin-right: 0;
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    box-sizing: border-box;
}
.btn-group-lg>.btn, .btn-lg {
    padding-bottom: 25px;
}
.btn-primary:hover {
    background-color: #3f3934;
    font-size: 16px;
    font-weight: bold;
}
.btn-primary.focus, .btn-primary:focus {
    background-color: #72655c;
    border-color: #72655c;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #72655c;
    border-color: #72655c; 
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-color: #72655c;
    border-color: #72655c; 
}
.category-pdt p {
    margin-bottom: 30px;
    text-align: justify;
}
.liste-produits {
    margin-left: -7px;
}
.liste-produits a {
    display: block;
    text-align: center;
    font-size: 15px;
    height: 22px;
    background-color: #bd7718;
    color: #fff;
    text-transform: uppercase;
}
.liste-produits a:hover {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #72655c;
}
.liste-produits li {
    margin-bottom: 10px;
    list-style-type: none; 
}


/* ------------- Fading-Carousel -------------- */

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-caption h1 {
    font-weight: 200;
    letter-spacing: 6px;
    align-items: center;
}
.fadeIn-home {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fadeIn-home h1 {
    font-weight: 400;
    font-size: 4vw;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: #fff;
}

/* mobile */
@media (max-width: 580px){ 
    .carousel-caption h1 {
        font-weight: 200;
        letter-spacing: 6px;
        font-size: 18px;
        line-height: auto;
    }
}
    
/* ------------- login_register -------------- */

.overly:before, .page-title:before, .slider:before {
    background: #3f3934;
}
.annonce {
    margin-left: 13px;
}
.apero-labo {
    font-family: 'Kaushan Script', cursive;
    font-size: 28px;
    color: #bd7718;
}
.btn-default {
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #72655c; 
    color: #fff;
    font-size: 18px;
    border: none;
    margin-top: 25px;
}
.btn-default.active, .btn-default:active, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #bd7718;
    font-size: 20px;
    font-weight: bold;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

/***************** espace/perso **************/

.acces-dashboard {
    
}
.acces-dashboard a {
    color: black;
}
.acces-dashboard a:hover {
    font-size: 20px;
    color: #bd7718;
}
.alerte-kdo h3 {
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    text-align: center;
    color: #bd7718;
    margin-top: 60px;
    margin-bottom: 50px;
}
.maison-kaprelian h4 {
    margin-left: 0;
}
.maison-kaprelian {
    margin-top: 50px;
    margin-bottom: 30px;
}
.img-kaprelian {
    margin-bottom: 50px;
}
.kaprelian {
    width: 100%;
}
.maison-kaprelian h3 a:hover {
    font-size: 20px;
    color: #72655c;
}

/***************** contact **************/

.btn-envoyer {
    margin-top: 20px;
}

.contact-form .block button {
    border-radius: 0;
}
.btn a:hover {
    background: red;
}
.form-group-3 form-control {
    border-radius: 0;
}
.label-contact {
    margin-top: 15px;
    font-weight: 500;
}
.form-control {
    color: #555;
}
.form-control:focus {
    border-color: #ccc
}
.pdf-stocks {
    padding-left: 20px;
    margin-top: 0;
    padding-top: 0;
}
.pdf-stocks h3 {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}
.pdf-stocks a:hover {
    font-size: 20px;
    font-weight: bold;
    background: none;
    box-shadow: none;  
}
.annonce-progr-fidel-contact {
    margin-top: 30px;
    margin-bottom: 50px;
}
.titre-fidel-contact {
    font-size: 22px;
    color: #72655c;
    font-weight: bold;
    text-transform: uppercase;
}
.annonce-progr-fidel-contact p {
    font-size: 20px;
    color: #72655c; 
    line-height: 170%;
}
.typo-manus {
    font-family: 'Kaushan Script', cursive;
    font-size: 28px;
    color: #bd7718;
}
.inscrivez-vous a:hover {
    font-size: 20px;
    font-weight: bold;
}
.message-envoye {
    margin-top: 50px;
    margin-bottom: 40px;
}
.message-envoye a:hover {
    font-size: 28px;
    font-weight: bold;
    color: #72655c;
}
h3 .apero-labo {
    font-size: 24px;
}
/***************** footer **************/

.footer .adresse-FR {
}
.footer p {
    text-align: left;
    line-height: 140%;
    color: #3f3934;
}
.footer a {
    color: #bd7718;
    font-weight: bold;
}
.footer a:hover{
    color: #bd7718;
    font-weight: bold;
    font-size: 18px;
}
.footer .copyright {
    text-align: center;
}
.overly:before, .page-title:before, .slider:before {
    opacity: 0.6;
}
.footer-codex .logo {
   width: 400px; 
}


/***************** DASHBOARD **************/

