{% extends 'base2.html.twig' %}


{% block body %}

    <!-- contact form start -->
    <section id="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                          {% if not fidelite %}
                              <h1>dommage</h1>
                          {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <p>
                        <h4>Programme de fidélisation</h4>
                        Codex International France a mis au point un programme de fidélisation original et convivial : l'apéro labo ( avec une typo sympa !) 
                        Dès 5000€/an, nos meilleurs clients et partenaires recevront un coffret de la sélection "Maison Kaprelian" pour enrichir vos moments de convivialités entre collègues.
                        Inscrivez vous dès à présent pour en bénéficier.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}