{% extends 'base2.html.twig' %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 acces-dashboard">
                <h1>{{ 'forgotten_password.title' | trans }}</h1>
                <p>
                    {{ 'forgotten_password.message' | trans }}
                </p>
                {{ form(form) }}
            </div>
        </div>   
        
        
                
{% endblock %}






