{% extends "admin/layout_admin.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
            <a class="btn btn-default" href="{{path('blog_dashboard')}}">Revenir au dashboard</a>
        </div>
    </div>{# empty Twig template #}
{% endblock %}
{#
{% block javascripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-beta.3/classic/ckeditor.js"></script>

    <script>

        function createEditor(selector) {
          ClassicEditor
            .create(document.querySelector(selector))
            .then(editor => {
              console.log(editor);
            })
            .catch(error => {
              console.error(error);
            });

        }
        
        createEditor('#blog_translations_en_article');
        createEditor('#blog_translations_fr_article');
    </script>
{% endblock %}

#}
