string(86) "Symfony\Component\HttpKernel\Controller\ArgumentResolver\RequestAttributeValueResolver" 
string(77) "Symfony\Component\HttpKernel\Controller\ArgumentResolver\RequestValueResolver" 
string(77) "Symfony\Component\HttpKernel\Controller\ArgumentResolver\SessionValueResolver" 
string(55) "Symfony\Bundle\SecurityBundle\SecurityUserValueResolver" 
string(77) "Symfony\Component\HttpKernel\Controller\ArgumentResolver\ServiceValueResolver" 
string(86) "Symfony\Component\HttpKernel\Controller\ArgumentResolver\RequestAttributeValueResolver" 
string(77) "Symfony\Component\HttpKernel\Controller\ArgumentResolver\RequestValueResolver" 
string(86) "Symfony\Component\HttpKernel\Controller\ArgumentResolver\RequestAttributeValueResolver" 