{% extends 'base2.html.twig' %}

{% block body %}
    
    
<div class="container"
     <div class="row">
         <div class="col-md-8 col-md-offset-2 col-sm-12 message-envoye">
             <h3><em>{{ 'bonjour' | trans }} {{ name }},</em></h3>
             <h4><strong>Votre message a été envoyé !</strong></h4>
            <br>
            <h2>Accédez à votre espace perso et <a href="{{ path('loginregister') }}">inscrivez-vous </a>pour participer à notre programme fidélité :</h2> 
            <h3>Codex International France a mis au point un programme de fidélisation original et convivial : <span class="apero-labo">l'apéro labo !</span><br>
                Dès 5000€/an, nos meilleurs clients et partenaires recevront un coffret de la sélection <a href=http://www.maison-kaprelian.fr/ target="_blank">"Maison Kaprelian"</a> pour enrichir vos moments de convivialités entre collègues.<h3> 
        </div>
    </div>
</div>

{% endblock %}