{% extends 'base2.html.twig' %}

{% block body %}
    
    
<div class="container"
     <div class="row">
         <div class="col-md-6 col-md-offset-3 col-sm-12">
            <h6>Hi {{ name }}! You're successfully registered.</h6>
            <h3>Votre message a été envoyé !</h3>
            <br>

            <h4>Accédez à votre espace perso et <a href="{{ path('loginregister') }}">Inscrivez-vous</a>pour participer à notre programme fidélité :</h4> 
            Codex International France a mis au point un programme de fidélisation original et convivial : l'apéro labo 
            Dès 5000€/an, nos meilleurs clients et partenaires recevront un coffret de la sélection "Maison Kaprelian" pour enrichir vos moments de convivialités entre collègues.
            <a href="{{ path('loginregister') }}">Inscrivez-vous</a> dès à présent pour en bénéficier.
         </div>
         </div>
</div>

{% endblock %}