{% include 'incs/header.html.twig' %}

        

        <!-- Slider Start -->

        {% block carousel %}

        {% endblock %}

        {% block slider %}

        {% endblock %}

       

        {% block body %}
        {% endblock %}


    </body>
    
      
{% include 'incs/footer.html.twig' %}
    