{% include 'incs/header.html.twig' %}

        
        <section class="page-title bg-2">
            {% block parallaxe %}
        
                <div class="container">
                    <div class="row">
                        <div class="col-md-12"> 
                            <div class="block">
                                <h1 class="animated fadeInUp">Codex International <br>Best materials, Excellence services</h1>
                            <!--    <p class="animated fadeInUp">xxxxxxxxx </br>  xxxxxx</p>    -->
                            </div>
                        </div>
                    </div>
                </div> 
            {% endblock %}
        </section>
            
        {% block body %}
        {% endblock %}
        
    </body>   
    
   

    {% include 'incs/footer.html.twig' %}