{% extends 'base2.html.twig' %}


{% block body %}
    
    <div class="container"> 
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 telechargt">
                <p class="body-home-intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h3 class="body-home">Xxxxxxx</h3>
                <p class="body-home">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br>
                {% for download in downloads %}
                    <h3>{{ download.sujet }}</h3>
                    <a href="{{ asset(download.getPdfNom) }}">>>> {{ 'download' | trans }} pdf</a>
                    <h5>{{ download.description }}</h5>
                {% endfor %}
            </div>
        </div>  
    </div>

{% endblock %}

